/* line 3, ../sass/main.scss */
body,
html {
  color: #3a3a3a;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

/* line 12, ../sass/main.scss */
.container {
  height: 100%;
  margin: 0 auto;
  max-width: 850px;
  text-align: center;
  width: 80%; }
  /* line 19, ../sass/main.scss */
  .container .about-me {
    margin-bottom: 30px; }
    /* line 22, ../sass/main.scss */
    .container .about-me a {
      border-bottom: 1px solid #3a3a3a;
      color: #3a3a3a;
      text-decoration: none; }
      /* line 27, ../sass/main.scss */
      .container .about-me a:hover {
        color: #e64c65; }
    /* line 32, ../sass/main.scss */
    .container .about-me h1 {
      font-family: 'Oswald', sans-serif;
      font-size: 90px;
      font-weight: 400;
      letter-spacing: 7px;
      margin-bottom: 0; }
    /* line 40, ../sass/main.scss */
    .container .about-me p {
      line-height: 30px; }
