@import 'sprites/_sprite-icons';

$font-colour: #3a3a3a;

body,
html {
  color: $font-colour;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  color: $font-colour;
  text-decoration: none;

  &::after,
  &::before {
    backface-visibility: hidden;
    pointer-events: none;
  }
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 90px;
  font-weight: 400;
  letter-spacing: 7px;
  margin-bottom: 0;
}

p {
  line-height: 30px;
}

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 850px;
  text-align: center;
  width: 80%;

  .contact-icons {
    margin-top: 30px;
  }

  .contact-icon {
    margin-right: 15px;
  }
}
